/* Popup styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #012b4b; /* Slightly darker Trello blue */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  opacity: 0;
  animation: popup-appear 0.3s ease forwards;
}

@keyframes popup-appear {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popup-content {
  padding: 20px;
  border-radius: 15px;
}

h2.white {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

form {
  margin-bottom: 20px;
}

label.white {
  color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #02588a; /* Trello blue */
  color: #fff;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #5aac44;
  color: #fff;
}

button[type="button"] {
  background-color: #ebecf0;
}


.button-rm:hover {
  outline: 2px solid red; 
}
.button-add:hover {
  outline: 2px solid rgb(8, 211, 25); ; 
}




.error.white {
  color: red;
}

/* Styles for lists and tasks */
.list-container {
  margin-left: 10px;
}

.list-item {
  margin-bottom: 20px;
}

.task-container {
  margin-left: 30px;
}

.task-row {
  margin-bottom: 10px;
}

.task-inputs label.white {
  display: block;
  margin-bottom: 5px;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.list-buttons {
  margin-top: 10px;
}

.final-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.submit-button, .cancel-button {
  padding: 10px 20px; 
  font-size: 16px; 
}

.cancel-button {
  background-color: red; 
  color: white; 
  margin-left: 10px; 
}

