svg {
  cursor: pointer;
}
p{
  color:red;
}
#staticBackdrop {
  .modal-header {
    background-color: rgb(152, 215, 246);
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .modal-body {
    background-color: rgb(196, 239, 225);
    input {
      background-color: rgb(219, 216, 216);
      margin: 4px 0px;
    }
    textarea {
      background-color: rgb(219, 216, 216);
      margin: 4px 0px;
    }
  }
  .modal-footer {
    background-color: rgb(255, 232, 232);
  }
}
#staticBackdrop2 {
  .modal-header {
    background-color: rgb(88, 183, 230);
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .modal-body {
    background-color: rgb(196, 239, 225);
    color: black;
  }
  .modal-footer {
    background-color: rgb(255, 232, 232);
  }
}
