<div
  *ngIf="isModalEdit"
  class="modal-background"
  (click)="handleOverlayClick($event)"
>
  <div class="modal-content" (click)="handleContentClick($event)">
    <div>
      <input
        type="text"
        name=""
        id="input"
        class="form-control"
        style="margin-bottom: 6px"
        [(ngModel)]="newTitle"
        required="required"
        placeholder="Title"
      />
      <textarea
        name=""
        id=""
        cols="34"
        rows="5"
        [(ngModel)]="description"
        placeholder="Description"
      ></textarea>
    </div>
    <div class="button-container">
      <button class="btn btn-danger" (click)="closeModal()">Close</button>
      <button class="btn btn-success"  [disabled]="!newTitle.trim()" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
