<div class="root">
  <div class="navbar">
    <div>
      <div>
        <h1>Trello</h1>
      </div>
    </div>
  </div>

  


  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
      <button mat-raised-button (click)="openBoardFormDialog()">Create Board</button>
      

    </div>

    <div class="board-wrapper">
      <div class="board-lists" cdkDropListGroup>
        <div class="board-list" *ngFor="let list of board.lists">
          <div class="list-title">
            {{ list.name }}
          </div>

          <div
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="list.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task" *ngFor="let item of list.tasks" cdkDrag>
             <app-card [item]="item"></app-card>
            </div>
          </div>
        </div>
      </div>
      <div class="form-container">
        <form (submit)="addListToLists(newListTitle)">
          <input type="text" class="inputbox" [(ngModel)]="newListTitle" name="newListTitle" placeholder="Enter new list title">
          <button type="submit" class="add-list-button">Add List</button>
        </form>
      </div>
    </div>
    </div>
  </div>

