<div class="root">
  <div class="navbar">
    <div>
      <div class="d-flex align-items-center">
        <button
          class="btn btn-primary"
          type="button"
          id="offcanvas-btn"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
        <div
          style="background-color: #263646"
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
        >
          <div class="offcanvas-header">
            <h5
              class="offcanvas-title"
              id="offcanvasWithBothOptionsLabel"
              style="
                color: white;
                font-size: 24px;
                text-align: center;
                margin-top: 14px;
              "
            >
              Trello
            </h5>
            <button
              type="button"
              class="btn-close btn btn-light"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="offcanvas-body"
            style="
              color: white;
              font-size: 15px;
              padding: 5px;
              text-align: center;
            "
          >
            <div *ngIf="showBoardsFlag" style="padding: 10px">
              <button
                type="button"
                class="btn btn-danger"
                (click)="showBoards()"
              >
                Close Boards
              </button>
            </div>
            <div *ngIf="!showBoardsFlag" style="padding: 10px">
              <button
                type="button"
                class="btn btn-primary"
                (click)="showBoards()"
              >
                Show Boards
              </button>
            </div>
            <div style="padding: 10px">
              <button
                type="button"
                mat-raised-button
                class="btn btn-success"
                style="padding: 10px"
                (click)="openBoardFormDialog()"
              >
                Create Board
              </button>
            </div>
            <div *ngIf="showBoardsFlag" style="margin: 10px">
              <div *ngFor="let board of boards; let i = index">
                <a [routerLink]="['/board', i]">
                  {{ board.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <h1>Trello</h1>
      </div>
    </div>
  </div>
  <div class="position-relative" style="margin: 8px">
    <h1
      class="position-absolute w-100 text-center"
      style="
        top: 0;
        z-index: 1;
        background-color: rgba(243, 243, 243, 0.5);
        border-radius: 24px;
      "
    >
      Welcome to Trello
    </h1>
  </div>
  <div class="container" style="margin-top: 40px">
    <div class="row">
      <div
        *ngFor="let board of boards; let i = index"
        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 my-2"
      >
        <a [routerLink]="['/board', i]">
          <div
            [ngClass]="{
              'bg-primary': i % 3 === 1,
              'bg-success': i % 3 === 2,
              'bg-pink': i % 3 === 0
            }"
            class="card"
          >
            <!-- Conditional class binding based on index -->
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              {{ board.name }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
